<?php
class Conf
{

    static $debug = 1;

    static $databases = array(
        'default' => array(
            'host' => 'localhost',
            'port' => ':3306',
            'database' => 'db',
            'login' => 'user',
            'password' => 'pwd'
        )
    ); // Configuration de la base de données

    static $siteName = 'Nom du site'; // Nom du site Affiché dans le titre de la page
    static $navBarName = "Nom du Site"; // Nom du site affiché dans la barre de navigation


    static $ExternalUrl = "http://127.0.0.1"; // URL externe du site pour les QRCode (à changer)

    static $RegisterToken = "123456789"; // Token pour acceder à la page d'inscription (à changer)
    static $QRTokenLength = 3; // Longueur du token pour les QRCode (à changer)
}

/**
 * Prefiexes
 */
Router::prefix('console', 'admin'); // Préfixe pour les pages admin

/**
 * Admin Routes
 */
Router::connect('admin', 'admin/clients/index');

/**
 * Guest Routes
 */
Router::connect('qr/:id/:token', 'client/qrlogin/id:([0-9]+)/token:([a-zA-Z0-9\-]+)');


?>